name: build-spiffs

on:
  workflow_dispatch:

jobs:
  build-spiffs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download mkspiffs binary
        run: |
          mkdir tools
          wget https://github.com/espressif/mkspiffs/releases/download/v0.2.3/mkspiffs-0.2.3-linux-amd64.tar.gz -O tools/mkspiffs.tar.gz
          tar -xzf tools/mkspiffs.tar.gz -C tools
          chmod +x tools/mkspiffs-0.2.3-linux-amd64
          mv tools/mkspiffs-0.2.3-linux-amd64 tools/mkspiffs

      - name: Prepare SPIFFS image
        run: |
          mkdir -p data
          cp *.html *.css data/
          tools/mkspiffs -c data -b 4096 -p 256 -s 0x100000 spiffs.bin

      - name: Upload SPIFFS binary
        uses: actions/upload-artifact@v4
        with:
          name: CassiesArcadeSpiffs
          path: spiffs.bin
